/docs
/include
/.dragonruby
/samples
/logs
/tmp
/dragonruby-ios-simulator.app
/dragonruby-ios.app
/mygame/sprites
changelog-curr.txt
changelog-prev.txt
console-logo.png
ctags-emacs
ctags-vim
dragonruby
dragonruby-bind
dragonruby-controller.png
dragonruby-httpd
dragonruby-publish
dragonruby-replay
dragonruby-vrsim
dragonruby.png

.ds_store